services:
  dm_server:
    container_name: dm_server
    restart: unless-stopped
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    volumes:
      - "./local:/server/local"

